@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cookie&family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Petit+Formal+Script&family=Redressed&display=swap');

/* ---------------------------------------------------------------------------INDEX--------------------------------------------------------------------------- */
@keyframes derecha {
    0% {
        transform: translateX(400px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes bajar {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}



.row {
    display: flex;
    justify-content: center;
}

.row>a {
    width: fit-content;
}

.add>button {
    width: fit-content !important;
    height: fit-content !important;
    padding: 7px 15px;
    line-height: 1;
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8ecf2;
    background-image: url('kirby\ sombra.png');
    background-repeat: no-repeat;
    background-size: 65vh;
    background-position: 5% center;
    background-blend-mode: overlay;
    justify-content: space-evenly;

}

.centro {
    display: flex;
    height: calc(70vh - 20%);
    justify-content: center;
    align-items: center;
}

.centro>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51%;
}

#about>h1 {
    margin: 1%;
    width: 100%;
    text-align: center;
    height: 10vh;
    line-height: 6vh;
    font-size: 3.5rem;
    color: #825E21;
    font-family: "Concert One", sans-serif !important;
    font-weight: 400;
}

#about_content {
    padding: 3%;
    font-size: large;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#linea {
    width: 100px;
    height: 2px;
    background-color: #3eb8a7;
}

#about-content {
    width: 30%;
    text-align: center;
}



.boton {
    height: fit-content !important;
    margin: 0 auto;
    background-color: #e974cf;
    border: 2px #e974cf solid;
    border-radius: 20px;
    padding: 3px 18px;
    margin-top: 3vh;
    width: 20vh;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.boton>a {
    font-weight: bolder;
    text-decoration: none;
    margin: auto 0;
    color: #fafaee;
    line-height: 1;
}

.boton2 {
    height: fit-content !important;
    margin: 0 auto;
    background-color: #e974cf;
    border: 2px #e974cf solid;
    border-radius: 20px;
    padding: 3px 18px;
    margin-top: 3vh;
    width: 20vh;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.boton2>a {
    font-weight: bolder;
    text-decoration: none;
    margin: auto 0;
    color: #fafaee;
    line-height: 1;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

#banner {
    background-image: url('fondo\ 1.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: derecha 1s;
}

.carousel-item>img {
    height: 60vh;
    width: auto;
    margin: 0 auto;
}

#banner>#title {
    -webkit-text-stroke: 1px black;
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: 0vw;
}

#topsellers {
    background-color: #a5d2f2;
    width: 100%;
    height: 95vh;
    background-size: cover;
    justify-content: space-evenly;
    padding: 2vh;
}

#topsellers>h1 {
    margin: 2%;
    width: 100%;
    text-align: center;
    height: 6vh;
    line-height: 9vh;
    font-size: 3.5rem;
    color: #825E21;
    font-family: "Concert One", sans-serif !important;
    font-weight: 400;
    margin-bottom: 23px;
    background-size: cover !important;
}

#topsell-content {
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    FLEX-WRAP: wrap;
    margin: 0 auto;
    align-items: center;
}


body {
    margin: 0;
    overflow-x: hidden;
}

.mapa {
    width: 590px;
    height: 440px;

}

.footer {
    background: #a5d2f2;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
    gap: 6vh !important;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

#valoracion {
    margin: 0 auto;
}

#reviews {
    width: 100%;
    height: 48vh;
    background-color: #fafaee;
    display: none;
}

#reviews-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    row-gap: 60%;
}

#reviews>h1 {
    line-height: 15vh;
    font-size: 3.5rem;
    color: #825E21;
    font-family: "Concert One", sans-serif !important;
    justify-content: center;
    display: flex;
}

.paula {
    margin-top: 2vh;
    padding: 1vh;
    width: 32%;
    height: 20vh;
}

#name1,
#name2,
#name3 {
    font-weight: bold;
}


/* -----------------------------------------------------------------------------------GLOBAL--------------------------------------------------------------------------- */

body {
    background-color: beige;
    margin: 0 auto;
}

.section-background {
    background-color: #fafaee;
}

*:not(#title > a) {
    font-family: "Comic Neue";
    font-style: normal;
    scroll-behavior: smooth;
}

#title>a {
    text-decoration: none;
    color: black;
}

#navbar {
    display: flex;
    align-items: center;
    height: 11vh;
    animation: bajar 1s;
    font-size: medium;
    font-weight: bold;
    flex-wrap: wrap;
    padding-bottom: 0.1rem;
}

.navbar-item {
    color: #383737;
    text-decoration: none;
}

#logotitle {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    flex-basis: 20%;
}

#title {
    font-family: "Licorice" !important;
    font-weight: 400;
    font-style: normal;
    vertical-align: center;
    margin: auto 0;
    padding-top: 0.5rem;
    padding-right: 1%;
}

#navbar-brand {
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: end;
    margin: auto 0;
    flex-basis: 80%;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: lighter;
}

#navbar-brand>a {
    align-items: center;
    vertical-align: middle;
    justify-content: end;
    margin: auto 0;
    margin-right: 1rem;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 13px;
    transition-duration: 0.2s;
}

#logo {
    height: 10vh;
    margin-left: 10%;
}

/* -----------------------------------------------------------------------------------MENÚ--------------------------------------------------------------------------- */

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;


}

div>h2 {
    font-family: "Concert One", sans-serif !important;
    font-size: large;
    color: grey;
    font-size: x-large;
}

#mainH1 {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: #825E21;
    font-family: "Concert One", sans-serif !important;
    font-weight: 400;
    margin-top: 0;
    padding-top: 3vw;
}



.imagen-menu {
    max-height: 200px;
    width: 90%;
    background-size: contain;
    margin-bottom: 10px;
    margin-top: 2vh;
    object-fit: cover;
}

.menu {
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.descripcion-container {
    margin: 10px auto;
    width: 26vh;
    display: flex;
    flex-direction: column;
    height: 9vh;
    justify-content: space-evenly;
}

.descripcion {
    margin: 0;
    font-weight: bold;
}

.cant-personas {
    font-size: x-small;
    color: #383737;
    text-align: center;
    vertical-align: bottom;
}

.precio-container {
    width: 50%;
}

.precio {
    font-size: medium;
    font-weight: bolder;
    color: #be57d3;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3vh;
}

.card {
    border-radius: 17px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    height: 50vh;
    width: 41vh;
    background-color: #ffffff;
}


#section2>.card-menu {
    margin-bottom: 3vh;
    border-radius: 17px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    width: 32vh;
    height: 41vh;
    background-color: #ffffff;
}

#filtro {
    display: flex;
    flex-wrap: wrap;
    width: 20vh;
    height: 3vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1vh;

}



h5>#filtro {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    align-items: center;
    align-self: flex-end;
    align-content: flex-end;
}

#navbar-brand a:not(.cart-container):hover {
    border-radius: 1vh;
    border: 2px solid #ff80c6;
    border-radius: 13px;
    transition-duration: 0.2s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    width: 100%;
    padding: 0 !important;
}

#paginacion {
    width: fit-content;
    height: fit-content;
    margin-top: 3vh;
}

#section2 {
    margin: 0 3% 3% 3%;
    display: flex;
    width: 146vh;
    min-height: 125vh;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.img-menu {
    max-width: 100%;
    border-radius: 17px;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    text-align: center;

}

.horizontal-center>img {
    height: 20vh;
}

.combo-box {
    display: flex;

}

.porciones {
    font-size: small;
    color: #825E21;
    text-align: left;
}

.add {
    display: flex;
    flex-direction: row;
    width: 31.75vh;
    justify-content: center;
    height: 6vh;
}

#boton-index {
    width: 40.7vh;
}

#section2>.card>.add {
    margin-top: -0.5vh !important;
}

/* ----------------------------------------------------------------------------------CARRITO-------------------------------------------------------------------------- */
.descripcion-container button {
    padding: 1vh;
    width: 13vh;
    background-color: #be57d3;
    border: none;
    color: beige;
    outline: none;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}



.descripcion-container button:hover {
    background-color: #9c3faf;
    transition: all .3s;
}

#add-cart {
    font-weight: bold;
    border-color: transparent;
    border-radius: 15px;
    background-color: #e974cf;
    color: white;
}

.buy-card {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 25px);
    right: 0;
    width: 20vw;
    background-color: beige;
    border: 1px solid #ccc;
    border-radius: 1vh;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.navbar-item {
    position: relative;
}

.navbar-item:hover .buy-card {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.nav-card {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

}

.buy-card button {
    width: 100%;
    padding: 8px 0;
    background-color: #be57d3;
    color: white;
    border: none;
    border-radius: 1vh;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: auto;
}

.buy-card button:hover {
    background-color: #2f8f80;
}

.nav-card .imagen-carrito {
    min-width: 70px;
    height: 80px;
    border: none;
    border-radius: 7px;

}

.nav-card li {
    font-size: small;
    font-weight: bolder;
    margin-right: 2vh;
    justify-content: center;
    align-content: space-evenly;
}

.cart-container {
    position: relative;
    margin-right: 1.5vw;
}

.cart-container:hover .buy-card {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

#banner2 {
    height: 88vh;
    display: flex;
    background-color: beige;
    justify-content: space-evenly;
}


/* ----------------------------------------------------------------------------------CARRITO-------------------------------------------------------------------------- */
.menu-carrito {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    border: 0.3vh solid hsl(0, 0%, 89%);
    height: 40vh;
    width: 98vh;
    background-color: #e8dcff;
    border-radius: 2vh;
}

#titulo-carro {
    width: 130vh;
    height: 7vh;
    font-size: medium;
    font-weight: bolder;
    text-align: start;
    border-bottom: 0.3vh solid hsl(0, 0%, 89%);
    display: flex;
    align-items: center;
}

#titulo-carro>h1 {
    color: #383737;

}

#titulo-carro img {
    display: flex;
    width: 7vh;
    height: 7vh;
    margin-right: 1vh;
}

.producto-carrito {
    display: flex;
    ;
    border: 0.1vh rgb(235, 235, 235);
    border-radius: 10px;
    height: 22vh;
    width: 23vh;
    margin-left: 3vh;
    margin-bottom: 3vh;
}

.imagen-carrito {
    width: 26vh;
}

.imagen-compra {
    display: flex;
    height: 25vh;
}

.imagen-compra2 {
    max-height: 11.5vh;
    width: 10rem;
    margin-bottom: 10px;
    object-fit: cover;
    max-width: 90%;
    height: auto;
    margin-right: -2rem;
}

.table-buy-card {
    padding-top: 2%;
    border: none;
}

.table-buy-card th,
.table-buy-card td:has(>span) {
    text-align: center;
}

.buy-card-title,
.table-buy-card>td {
    padding-right: 1.5rem;
}

.basura-rosada-carrito {
    height: 3vh;
    width: 1.5vw;
}

.info-carrito {
    height: 26vh;
    width: 58vh;
    margin-left: 6vh;
}

.info-carrito h1 {
    font-size: large;
    font-weight: bolder;
    width: 24vh;
}

.info-carrito h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #be57d3;
    width: 15vh;
    display: inline-block;

}

.info-carrito h3 {
    font: 1.6rem sans-serif;
    font-weight: bolder;
    color: #000000;
    width: 15vh;
    display: inline-block;
    margin-right: 10vh;

}

.info-carrito p {
    color: #979797;
    font-size: medium;
    font-weight: thin;
    text-align: left;
    display: inline-block;
    margin-right: 1vh;
}

.info-carrito p:last-child {
    color: #979797;
    font-size: medium;
    font-weight: thin;
    text-align: center;
}

.info-carrito>p {
    display: flex;

}

.info-carrito input[type="number"] {
    display: inline-block;
    height: 4vh;
    width: 7.2vh;
    border-radius: 0.3vh;
    border: 0.25vh solid #cecece;
    background-color: white;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 2vh;
}

.info-carrito i {
    margin-right: 4vh;
    font-weight: bolder;
    font-size: x-large;
}

.basura-rosada {
    height: 3vh;
    width: 3vh;
    margin-left: 50vh;
}

/* -------------------------------------------------------------------------------RESUMEN PEDIDO----------------------------------------------------------------------- */
.resumen-carrito {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    border: 0.3vh solid hsl(0, 0%, 89%);
    height: 40vh;
    width: 70vh;
    background-color: #e8dcff;
    border-radius: 2vh;
}



.contenido-resumen {
    display: flex;
    height: 14vh;
    width: 70vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-bottom: 0.3vh solid hsl(0, 0%, 89%);
    flex-direction: column;
    justify-content: center;
    ;
}

.contenido-resumen h1 {
    font-weight: bolder;
    margin-bottom: 0;
    color: #383737;
}

.contenido-resumen h2 {
    font-size: 2.5vh;
    color: #aeafaf;
    margin-bottom: 6vh;
}

.contenido-resumen2 {
    display: flex;
    height: 8vh;
    width: 70vh;
    margin-left: 2vh;
    margin-right: 2vh;
    align-items: center;
}

.input-promo {
    background-color: white;
    border-top: 0.090vh solid #cecece;
    border-left: 0.090vh solid #cecece;
    border-bottom: 0.090vh solid #cecece;
    border-right: 0;
    height: 4vh;
    width: 48.5vh;
    margin: 0;
    border-radius: 6px;
}

.contenido-resumen3 {
    display: flex;
    height: 15vh;
    width: 70vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-top: 0.3vh solid hsl(0, 0%, 89%);
    align-items: center;
    justify-content: space-between;

}

.clase-input-boton button {
    background-color: #be57d3;
    color: #ffffff;
    border-radius: 0;
    height: 4vh;
    min-height: 4vh;
    width: 16vh;
    min-width: 16vh;
    border-color: #9c3faf;
    margin: 0;
    border-radius: 1vh;
}

.clase-input-boton button:hover {
    background-color: #9c3faf;
    border-color: #be57d3;
}

.contenido-resumen3 {
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 70vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-top: 0.3vh solid hsl(0, 0%, 89%);
    align-items: center;
}

.precio-total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45%;
}

.precio-total h2 {
    font-weight: 150;
}

.precio-total h1 {
    font-weight: bolder;
}

.boton-pago button {
    background-color: #be57d3;
    color: #ffffff;
    border-radius: 1vh;
    height: 6vh;
    min-height: 5vh;
    width: 35vh;
    min-width: 16vh;
    border-color: #9c3faf;
    margin-top: 1vh;
    font-weight: bold;
    font-size: medium;
}

.carousel-item>img {
    height: 60vh;
    width: auto;
    margin: 0 auto;
}

#banner {
    width: 100%;
}

/* -----------------------------------------------------------------------------------GALERIA--------------------------------------------------------------------------- */
#foto-galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.gallery {
    border: 4px solid #acceef;
    border-radius: 13px;
    transition-duration: 0.5s;
}

.gallery:hover {
    border: 4px solid #ff80c6;
    border-radius: 13px;
    transition-duration: 0.2s;

}

.gallery img {
    width: 100%;
    height: 30vh;
    border-radius: 10px;
}

.desc {
    padding: 15px;
    text-align: center;
}

#encabezado-galeria>h1 {
    margin: 2%;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 5vh;
    font-size: 3.5rem;
    color: #825E21;
    font-family: "Concert One", sans-serif !important;
    font-weight: 400;
    margin-bottom: 19px;
}

/* ---------------------------------------------------------------------------PEDIDOS PERSONALIZADOS------------------------------------------------------------------- */
#banner3 {
    height: 70vh;
    display: flex;
    align-content: space-between;
    background-color: #f8ecf2;
    background-repeat: no-repeat;
    background-size: 65vh;
    background-position: 5% center;
    background-blend-mode: overlay;
    justify-content: space-evenly;
}

#encabezado-pedidop>h1 {
    margin: 2%;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 5vh;
    font-size: 3.5rem;
    color: #825E21;
    font-family: "Concert One", sans-serif !important;
    font-weight: 400;
    margin-bottom: 19px;
}

.div-pedidos {
    display: flex;
    background-color: beige;
    height: 77vh;
    width: 100%;
    flex-direction: column;
}

.formulario-pedidos {
    display: flex;
    background-color: beige;
    height: 41vh;
    width: 70vh;
    padding: 1vh;
    flex-direction: column;
    gap: 1.5vh;
    justify-content: center;
    background-image: url('kirby\ sombra.png');
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position: 66% center;
    background-blend-mode: overlay;
}

.formulario-pedidos>label {
    color: #000000;
    font-size: medium;
    height: 1vh;
}

.formulario-pedidos input {
    width: 68vh !important;
    height: 3.5vh !important;
}


.formulario-pedidos2 {
    display: flex;
    width: 25vh;
    flex-direction: column;
    gap: 1vh;
}

.formulario-pedidos2 label {
    text-align: center;
    font-size: 2vh;
}

.formulario-pedidos2 select {
    height: 4.2vh;
    border-radius: 1vh;
}


.formulario-pedidos3 {
    display: flex;
    width: 25vh;
    flex-direction: column;
    gap: 2vh;

}

.formulario-pedidos3 label {
    gap: 2vh;
    text-align: center;
    font-size: 2vh;
}

.formulario-pedidos3.form-check {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.formulario-pedidos4 {
    display: flex;
    width: 25vh;
    flex-direction: column;
    gap: 1vh;
}

.formulario-pedidos4>label {
    text-align: center;
    font-size: 2vh;
}


label>.formulario-pedidos5 {
    font-size: 2vh;
    width: 15vh;
}

.formulario-pedidos5 {
    display: flex;
    width: 25vh;
    flex-direction: column;
    gap: 1vh;

}

.formulario-pedidos5>label {
    text-align: center;
    font-size: 2vh;
}

.info-personal {
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
}

.info-torta {
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
    width: 172vh;
    padding: 1vh;
    column-gap: 8vh;
}

.titulo-perso {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.titulo-perso>h4 {
    font-weight: bolder;
    color: #979797;
}

.contenedor-info-torta {
    display: flex;
    justify-content: center;
}

#modal {
    display: flex;
    justify-content: center;
    background-color: beige;
}

.valido {
    border: 1px greenyellow solid !important;
}

.no-valido {
    border: 1px red solid !important;
}

#errornombre {
    font-size: .7rem !important;

}

#errorcel {
    font-size: .7rem !important;

}

#errorcorreo {
    font-size: .7rem !important;

}

.pos-error {
    width: 68vh;
    text-align: right;
}

.formulario-pedidos6 {
    display: flex;
    width: 70vh;
    flex-direction: column;
    justify-content: center;
    padding: 1vh;
    gap: 3vh;
}

.formulario-pedidos6 label {
    color: #000000;
    font-size: medium;
    height: 1vh;
}

.formulario-pedidos6 .form-control {
    width: 68vh !important;
    height: 3.5vh !important;
}

.formulario-pedidos6 .form-control::placeholder {
    color: #bcb9b9;
    font-size: medium;
}

.formulario-pedidos6 .mb-3 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.checkradios {
    display: flex;
    justify-content: space-between;
}

.info-extra {
    height: 23vh;
    display: flex;
    gap: 1vh;
    flex-direction: column;
}

.info-extra label {
    color: #000000;
    font-size: medium;
    height: 1vh;
}

.info-extra .form-control {
    width: 68vh !important;
    height: 13.5vh !important;
}

.info-extra .form-control::placeholder {
    color: #bcb9b9;
    font-size: medium;
}

.espacio-form {
    height: 2vh;
}


/* -------------------------------------------------- RESPONSIVIDAD ------------------------------------------*/
@media(min-width: 500px) and (max-width: 750px) {
    .formulario-pedidos input {
        width: 58vh !important;
    }

    #reviews-content {
       flex-direction: column;
    }

    .paula {
        width: 20rem;
        height: auto;
    }

    .reviews-wrapper{
        display: flex;
        flex-direction: row;
    }
    .reviews-image-wrapper{
        display: inline-block;
    }
    .reviews-image-wrapper>img{
        width: 100px;
        height: 100px;
    }
    .reviews-body-wrapper{

    }

    .pos-error {
        width: 58vh;
    }

    #encabezado-pedidop>h1 {
        height: 210px;
        margin-top: 3.5vh;
    }

    #navbar-brand {
        flex-direction: column;
        height: fit-content;
    }

    #navbar {
        height: fit-content;
        padding: 20px 0px;
    }

    .card {
        width: 70%;
    }

    #section2 {
        row-gap: 3vh;
    }

    #foto-galeria {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .footer .row ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    .resumen-carrito {
        margin-top: 1vh;
        width: 75vh;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .menu-carrito {
        margin-top: 1vh;
        display: flex;
        flex-wrap: wrap;
        border: 0.3vh solid hsl(0, 0%, 89%);
        height: 40vh;
        width: 75vh;
        background-color: #e8dcff;
        border-radius: 2vh;
    }

    .producto-carrito {
        height: 10vh;
        width: 7vh;
    }

    .producto-carrito img {
        width: 75px;
        height: 75px;
    }

    .contenido-resumen2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 760px) and (max-width: 995px) {
    .centro {
        height: 85vh;
        flex-direction: column;
    }

    #about>h1 {
        margin-top: 3vh;
    }

    #about {
        height: 138vh;
    }

    #about>h1 {
        margin-top: -1vh;
    }


    .boton2 {
        margin-top: 33vh;
    }

    #index {
        width: 100%;
    }

    #navbar {
        flex-wrap: nowrap;
        flex-direction: column;
        height: 18vh;
    }

    #navbar-brand>a {
        margin-right: 0px;
    }

    .card {
        width: 30%;
    }

    #foto-galeria {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    #topsell-content {
        width: 41vh;
    }

    #topsellers {
        height: 252vh;
    }

    .boton {
        margin-top: 160vh;
    }

    .boton2 {
        margin-top: 43vh;
    }

    #about_content {
        margin-top: 34vh;
    }

    #navbar-brand {
        flex-basis: 77%;
    }

    #navbar-brand>a {
        padding: 4px;
    }

    #navbar-brand>a {
        padding: 8px;
    }
}

@media(min-width: 1000px) and (max-width: 1250px) {
    #navbar-brand {
        flex-basis: 78%;
    }

    #navbar-brand {
        flex-basis: 79%;
    }

    .info-personal {
        display: flex;
        background-color: beige;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        margin-top: 3vh;
    }

    .espacio-form {
        height: 0vh;
    }

    #errorcorreo {
        margin-bottom: 5vh;
    }

    .formulario-pedidos {
        align-items: center;
    }

    .titulo-perso {
        justify-content: center;
        margin-top: 15%;
    }

    .info-torta {
        display: flex;
        background-color: beige;
        width: 67vh;
        padding: 1vh;
        gap: 2vh;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contenedor-info-torta {
        margin-top: 3vh;
        display: flex;
        justify-content: center;
    }

    .div-pedidos {
        display: flex;
        background-color: beige;
        height: 77vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .formulario-pedidos {
        display: flex;
        background-color: beige;
        height: 32vh;
    }

    #encabezado-pedidop>h1 {
        width: 100%;
        text-align: center;
        height: 178px;
        line-height: 5vh;
        font-size: 3.5rem;
        color: #825E21;
        font-family: "Concert One", sans-serif !important;
        font-weight: 400;
        margin-top: 9vh;
    }

    .formulario-pedidos6 {
        height: 34vh;
    }

    .pedido-perso {
        height: 92vh;
    }

    #modal {
        margin-bottom: 3vh;
        margin-top: 4vh;
    }

    .resumen-carrito {
        margin-top: 1vh;
        width: 98vh;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .menu-carrito {
        margin-top: 1vh;
    }

    .contenido-resumen2 {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #banner2 {
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width: 1255px) and (max-width: 1400px) {
    #topsell-content {
        height: 64vh;
        width: 122vh;
        gap: 6vh;
        display: flex;
        justify-content: center;
        FLEX-WRAP: wrap;
        margin: 0 auto;
        margin-top: 8vh;
        align-items: center;
        flex-direction: unset;
    }

    #topsellers {
        height: 141vh;
    }

    .boton {
        margin-top: 50vh;
    }

    #reviews-content {
        display: flex;
        flex-direction: column;

    }

    .row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: fit-content;
    }

    .paula {
        height: fit-content;
    }

    #reviews {
        height: fit-content;

    }

    .img-fluid {
        width: 74px;
        height: 74px;
        margin-bottom: 1vh;
    }
}

/* RESPONSIVIDAD INDEX */


/*CARRUSEL*/

/* RESPONSIVIDAD NAVBAR*/